.container-fluid{
    font-family: Proza Libre;
    /* font-size: 180%; */
    /* background-color:white; */
    /* color: #1A3358; */
    /* --bs-gutter-x: 6.5rem; */
    /* --bs-gutter-x: 12.5rem */
  }
  .nav-item{
    font-size: 120%;
    /* color: #1A3358; */
    
    /* padding: 10px; */
    /* gap: 10px; */
}
.navbar-nav .nav-item .nav-link:hover {
  color:crimson ; /* Replace with your desired hover color */
  /* background-color: blue; Optional: Background color on hover */
}
.form-label{
font-size: 150%;

}
.form-control {
  /* line-height: 2.5; */
  font-size: 100%;
  border-width:solid ;
  border-color: black;
  }
  .btn{ 
    /* width:30%; */
    line-height:2.5 ;
    margin-top: 10px;
    
  }
 
  p,a{
font-size: 120%;
font-family: Proza Libre;
text-decoration: none;
  }
.h4{
    color: brown;
  }
  h2{
    color: darkslateblue;
  }
  .mb-3{

    font-family: Proza Libre;

  }
  /* .fonts{ */
    /* font-size: 100%; */
    /* font-family: Proza Libre; */
  /* } */
  